.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.post {
  width: 235px;
}

.modal{
  max-width: 380px;
}

.modalMessage{
  margin: 18px 0 20px 0;
}

.modalBtn{
  display: flex;
  justify-content: space-between;
  button {
    width: 130px;
  }
}

.modalSelect{
  margin-bottom: 30px;
}