.uploadedPhotosList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.trigger {
  height: 1px;
  width: 100%;
}